$color: #8c8c8c;

body{
  margin:10px;
  padding:10px;
}
td {
  text-align: center;
  vertical-align: middle;
}

img{
    width:100%;
    max-width:200px;
}

#more{
  font-size: 18px;
  font-weight: bold;
}

.link{
  font-size:14px;
  margin-right:10px;
}

@media screen and (max-width:768px){
  h1{font-weight:lighter;color: $color}
}
