{% extends "layout.html" %}

{% block heading %}
  This is a forms
{% endblock %}

{% block body %}
  <form action="{{ url_for('hi') }}" method ="post">
    <input type="text" name="name" placeholder="input your name">
    <button>Submit</button>
  </form>
{% endblock %}
