<!DOCTYPE html>
<html>
    <head>
        <title>Is It New Year</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
          .row > div {
            padding: 20px;
            background-color: teal;
            border: 2px solid black;
          }
        </style>
    </head>
    <body>
        {% if new_year %}
          <h1> Yes!!! Happy New Year</h1>
        {% else %}
          <h1> NO </h1>
        {% endif %}

        <ul>
          {% for name in names %}
            <li>{{name}}</li>
          {% endfor %}
        </ul>
        <h1>{{headline}}</h1>
        <a href = "{{url_for('more') }}">See more...</a>
        <a href = "{{url_for('second_page') }}">See Second Page...</a>
        <a href = "{{url_for('hi') }}">See Forms Page...</a>
        <div class="container">
          <div class="row">
            <div class="col-3">
              This is a section
            </div>
            <div class="col-3">
              This is a section
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              This is a section
            </div>
            <div class="col-3">
              This is a section
            </div>
            <div class="col-3">
              This is a section
            </div>
          </div>
        </div>
    </body>
</html>
