<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Website!</title>
  </head>
  <body>
    <h1>{% block heading %}{% endblock %}</h1>
    {% block body %}
    {% endblock %}
  </body>
</html>
