

<!DOCTYPE html>
<html>
    <head>
        <title>More</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
          .row > div {
            padding: 20px;
            background-color: teal;
            border: 2px solid black;
          }
        </style>
    </head>
    <body>
      <a href = "{{url_for('index') }}">See more...</a>
    </body>
</html>
